<section class="advantages">
  <h2 class="hidden-title">advantages</h2>
  <div class="container">
    <ul class="advantages-list">
      <li class="advantages-list__item">
        <figure>
          <img
            class="advantages-list__icon"
            height="50px"
            width="33px"
            src="/src/images/icons/iconice.png"
            srcset="/src/images/icons/iconice-x2.png 2x, /src/images/icons/iconice-x3.png 3x"
            alt="milkshake"
          />
          <figcaption>
            <span class="advantages-list__title">721</span>
            <p class="advantages-list__description">
              Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
          </figcaption>
        </figure>
      </li>
      <li class="advantages-list__item">
        <figure>
          <img
            class="advantages-list__icon"
            height="50px"
            width="50px"
            src="/src/images/icons/iconice2.png"
            srcset="/src/images/icons/iconice2-x2.png 2x, /src/images/icons/iconice2-x3.png 3x"
            alt="fruit bowl"
          />
          <figcaption>
            <span class="advantages-list__title">16kg</span>
            <p class="advantages-list__description">
              Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
          </figcaption>
        </figure>
      </li>
      <li class="advantages-list__item">
        <figure>
          <img
            class="advantages-list__icon"
            height="50px"
            width="44px"
            src="/src/images/icons/iconice3.png"
            alt="popsicle"
            srcset="/src/images/icons/iconice3-x2.png 2x, /src/images/icons/iconice3-x3.png 3x"
          />
          <figcaption>
            <span class="advantages-list__title">84</span>
            <p class="advantages-list__description">
              Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
          </figcaption>
        </figure>
      </li>
    </ul>
  </div>
</section>
