<!-- <section class="section__bg"> -->

<section id="contact" class="section__bg">
  <div class="section__bg--doc">
    <div class="container contacts__background">
      <div class="contacts">
        <h2 class="hidden-title"></h2>

        <ul class="contacts__list">
          <li class="contacts__container">
            <div class="contacts__container--title">
              <p>CAFE</p>
            </div>

            <div class="contacts__container--city">
              <p class="contacts__container--name">Chicago</p>
              <p class="contacts__container--description">
                Fusce ut velit laoreet, tempus arcu molestie vulputate
              </p>
            </div>

            <div class="contacts__container--open">
              <p class="contacts__container--name">Monday - Friday</p>
              <p class="contacts__container--time">06:00 AM - 10:00 PM</p>
            </div>

            <div>
              <p class="contacts__container--name">Saturday - Sunday</p>
              <p class="contacts__container--time">08:00 AM - 16:00 PM</p>
            </div>

            <div class="contacts__group">
              <a href="tel:61(0)383766284">+61(0) 383 766 284 </a>
              <a href="mailto:noreply@envato.com">noreply@envato.com</a>
            </div>
          </li>

          <li class="contacts__container">
            <div>
              <div class="contacts__container--titleSecondary">
                <p>FOODTRUCK</p>
              </div>

              <div class="contacts__container--city">
                <p class="contacts__container--name">Los Angeles</p>
                <p class="contacts__container--description">
                  Fusce ut velit laoreet, tempus arcu molestie vulputate
                </p>
              </div>

              <div class="contacts__container--open">
                <p class="contacts__container--name">Monday - Friday</p>
                <p class="contacts__container--time">06:00 AM - 10:00 PM</p>
              </div>

              <div>
                <p class="contacts__container--name">Saturday - Sunday</p>
                <p class="contacts__container--time">08:00 AM - 16:00 PM</p>
              </div>

              <div class="contacts__group">
                <a href="tel:61(0)383766284">+61(0) 383 766 284 </a>
                <a href="mailto:noreply@envato.com">noreply@envato.com</a>
              </div>
            </div>
          </li>

          <li class="contacts__container">
            <div>
              <div class="contacts__container--title">
                <p>CAFE</p>
              </div>

              <div class="contacts__container--city">
                <p class="contacts__container--name">New York</p>
                <p class="contacts__container--description">
                  Fusce ut velit laoreet, tempus arcu molestie vulputate
                </p>
              </div>

              <div class="contacts__container--open">
                <p class="contacts__container--name">Monday - Friday</p>
                <p class="contacts__container--time">06:00 AM - 10:00 PM</p>
              </div>

              <div>
                <p class="contacts__container--name">Saturday - Sunday</p>
                <p class="contacts__container--time">08:00 AM - 16:00 PM</p>
              </div>

              <div class="contacts__group">
                <a href="tel:61(0)383766284">+61(0) 383 766 284 </a>
                <a href="mailto:noreply@envato.com">noreply@envato.com</a>
              </div>
            </div>
          </li>
        </ul>

        <div class="button__container">
          <button type="button" class="button button__style button__style--location button--main">
            Our Locations >
          </button>
          <button type="button" class="button button__style button__style--franchise button--white">
            Franchise >
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
