<section class="customer-review"></section>
<div class="container">
  <img class="customer-review__customer" src="./images/people/testimonials.png" alt="Klient" />
  <p class="customer-review__review">
    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
    quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
  </p>
  <p class="customer-review__signature">Emily, Los Angeles</p>
  <div class="customer-review__slider">
    <button class="customer-review__button" type="button">
      <svg></svg>
    </button>
    <button class="customer-review__button" type="button"></button>
    <button class="customer-review__button" type="button"></button>
  </div>
</div>
