<section class="customer-review">
  <div class="container">
    <img
      class="customer-review__customer"
      src="./images/people/testimonials.png"
      srcset="./images/people/testimonials-x2.png 2x, ./images/people/testimonials-x3.png 3x"
      alt="Klient"
    />
    <div class="customer-review__box">
      <p class="customer-review__review">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
        nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
      </p>
    </div>
    <p class="customer-review__signature">Emily, Los Angeles</p>
    <div class="customer-review__slider">
      <button class="customer-review__button customer-review__button--active" type="button">
        <svg class="customer-review__icon" width="12px" height="12px">
          <use href="./images/icons.svg#icon-home"></use>
        </svg>
      </button>
      <button class="customer-review__button" type="button"></button>
      <button class="customer-review__button" type="button"></button>
    </div>
  </div>
</section>
