<footer class="container">
  <div class="fufu">
    <div class="did">
      <h2 class="footer__title">
        HOMEMADE ICE CREAM <br />MADE
        <span class="footer__title--down"><br />WITH <br />PASSION</span>
      </h2>
    </div>
    <ul class="footer__social-list">
      <li>
        <a href="https://github.com">
          <svg class="footer__social-list--itemm">
            <use href="/src/images/icons.svg#icon-github" width="19" height="19"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://web.telegram.org/k">
          <svg class="footer__social-list--itemm">
            <use href="/src/images/icons.svg#icon-telegram" width="19" height="19"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://pl-pl.facebook.com">
          <svg class="footer__social-list--itemm">
            <use
              class="footer__social-list--itemm"
              href="/src/images/icons.svg#icon-facebook"
              width="19"
              height="19"
            ></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div class="footer__footer">
    <span class="footer__kontakt">Feel free to contact</span>
    <a class="footer__number" href="TEL:+61(O) 383-766-284">+61 (0) 383 766 284</a>
  </div>
  <div>
    <p class="footer__foot">© 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
