<footer class="container">
  <h2 class="footer__titel-ice">HOMEMADE ICE CREAM MADE</h2>
  <h2 class="footer__titel-passion">WITH PASSION</h2>

  <ul class="main-icon-item-box">
    <li>
      <svg class="main-icon-item">
        <a class="main-icon" href="https://github.com">GITHUB</a>
        <use href="/src/images/icons.svg#icon-github" width="19" height="19"></use>
      </svg>
    </li>
    <li>
      <svg class="main-icon-item">
        <a class="main-icon" href="#"></a>
        <use href="/src/images/icons.svg#icon-telegram" width="19" height="19"></use>
      </svg>
    </li>
    <li>
      <svg class="main-icon-item">
        <a class="main-icon" href="#"></a>
        <use href="/src/images/icons.svg#icon-facebook" width="19" height="19"></use>
      </svg>
    </li>
  </ul>
  <a href="TEL:+61(O) 383-766-284">
    <span class="footer__titet-kontakt">Feel free to contact</span>
    <span class="footer__titet-number">+61 (0) 383 766 284</span>
  </a>
  <div>
    <b class="footer__titel-end">© 2019 - IceCream. All Rights Reserved.</b>
  </div>
</footer>
