<body>
  <section class="gallery container">
    <h2 class="gallery__header">Gallery</h2>
    <div class="gallery__box">
      <img
        class="gallery__image"
        src="../src/images/gallery/desktop/x3/a.png"
        alt="ice cream desert"
      />
      <img
        class="gallery__image"
        src="../src/images/gallery/desktop/x3/b.png"
        alt="sweet ice cream cone"
      />
      <img
        class="gallery__image"
        src="../src/images/gallery/desktop/x3/c.png"
        alt="raspberry ice cream on a stick"
      />
      <img
        class="gallery__image"
        src="../src/images/gallery/desktop/x3/d.png"
        alt="pretty woman with ice cream"
      />
      <img
        class="gallery__image"
        src="../src/images/gallery/desktop/x3/e.png"
        alt="bluberry ice cream"
      />
      <img
        class="gallery__image"
        src="../src/images/gallery/desktop/x3/f.png"
        alt="dog licking ice cream"
      />
      <img class="gallery__image" src="../src/images/gallery/desktop/x3/g.png" alt="ice coffee" />
      <img
        class="gallery__image"
        src="../src/images/gallery/desktop/x3/h.png"
        alt="donnut desert"
      />
      <img
        class="gallery__image"
        src="../src/images/gallery/desktop/x3/i.png"
        alt="multi taste cones"
      />
      <img
        class="gallery__image"
        src="../src/images/gallery/desktop/x3/j.png"
        alt="orange ice cream cone"
      />
    </div>
  </section>
</body>
