<section class="gallery">
  <h2 class="gallery__header">Gallery</h2>
  <div class="gallery__box container">
    <img
      class="gallery__image"
      src="../src/images/gallery/x1/h.png"
      srcset="../src/images/gallery/x2/h.png 2x, ../src/images/gallery/x3/h.png 3x"
      alt="donnut desert"
    />
    <img
      class="gallery__image"
      src="../src/images/gallery/x1/d.png"
      srcset="../src/images/gallery/x2/d.png 2x, ../src/images/gallery/x3/d.png 3x"
      alt="pretty woman with ice cream"
    />
    <img
      class="gallery__image"
      src="../src/images/gallery/x1/b.png"
      srcset="../src/images/gallery/x2/b.png 2x, ../src/images/gallery/x3/b.png 3x"
      alt="sweet ice cream cone"
    />
    <img
      class="gallery__image"
      src="../src/images/gallery/x1/c.png"
      srcset="../src/images/gallery/x2/c.png 2x, ../src/images/gallery/x3/c.png 3x"
      alt="raspberry ice cream on a stick"
    />
    <img
      class="gallery__image"
      src="../src/images/gallery/x1/a.png"
      srcset="../src/images/gallery/x2/a.png 2x, ../src/images/gallery/x3/a.png 3x"
      alt="ice cream desert"
    />
    <img
      class="gallery__image"
      src="../src/images/gallery/x1/e.png"
      srcset="../src/images/gallery/x2/e.png 2x, ../src/images/gallery/x3/e.png 3x"
      alt="bluberry ice cream"
    />
    <img
      class="gallery__image"
      src="../src/images/gallery/x1/j.png"
      srcset="../src/images/gallery/x2/j.png 2x, ../src/images/gallery/x3/j.png 3x"
      alt="orange ice cream cone"
    />
    <img
      class="gallery__image"
      src="../src/images/gallery/x1/f.png"
      srcset="../src/images/gallery/x2/f.png 2x, ../src/images/gallery/x3/f.png 3x"
      alt="dog licking ice cream"
    />
    <img
      class="gallery__image"
      src="../src/images/gallery/x1/g.png"
      srcset="../src/images/gallery/x2/g.png 2x, ../src/images/gallery/x3/g.png 3x"
      alt="ice coffee"
    />
    <img
      class="gallery__image"
      src="../src/images/gallery/x1/i.png"
      srcset="../src/images/gallery/x2/i.png 2x, ../src/images/gallery/x3/i.png 3x"
      alt="multi taste cones"
    />
  </div>
</section>
