<div class="background">
  <section class="hero-header">
    <div class="container hero-header__container">
      <div class="header">
        <div class="header__wrapper">
          <a href="index.html"><img width="199" height="50" src="/src/images/logo.png"
              alt="logo of the icecream company" srcset="./images/logo-x2.png 2x, ./images/logo-x3.png 3x" /></a>

          <nav>
            <ul class="header__nav-items">
              <li class="header__nav-item">
                <a class="header__link" href="index.html">Home</a>
              </li>
              <li class="header__nav-item">
                <a class="header__link" href="#about">About us</a>
              </li>
              <li class="header__nav-item">
                <a class="header__link" href="#how-its-made">How it's made?</a>
              </li>
              <li class="header__nav-item">
                <a class="header__link" href="#our-products">Our products</a>
              </li>
              <li class="header__nav-item">
                <a class="header__link" href="#contact">Contact</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="header__buttons">
          <button type="button" class="menu-toggle menu-toggle__btn js-open-menu" aria-expanded="false"
            aria-controls="mobile-menu">
            <svg width="24" height="24" viewBox="0 0 20 20">
              <use href="/src/images/icons.svg#icon-menu_icon"></use>
            </svg>
          </button>
          <button data-modal-open type="button" class="button button--white header__btn">
            Buy now<span class="btn-arrow">&#10095;</span>
          </button>
        </div>
      </div>
      <div class="menu-container js-menu-container" id="mobile-menu">
        <button class="menu-toggle menu-toggle__btn-close js-close-menu">&#10006;</button>
        <button type="button" class="button button--white menu-container__btn" data-modal-open2>
          Buy now<span class="btn-arrow">&#10095;</span>
        </button>

        <ul class="menu-container__items">
          <li class="menu-container__item">
            <a class="menu-container__link" href="index.html">Home</a>
          </li>
          <li class="menu-container__item">
            <a class="menu-container__link" href="#about">About us</a>
          </li>
          <li class="menu-container__item">
            <a class="menu-container__link" href="#how-its-made">How it's made?</a>
          </li>
          <li class="menu-container__item">
            <a class="menu-container__link" href="#our-products">Our products</a>
          </li>
          <li class="menu-container__item">
            <a class="menu-container__link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>




      <div class="hero-header__title">
        <h1>
          <span class="hero-header__title hero-header__title--upperPart">ice cream made with</span>
          <span class="hero-header__title hero-header__title--downPart">passion</span>
        </h1>
        <!-- </div>
      <div class="hero-header__buttons"> -->

        <button type="button" class="button button--main hero-header__btn hero-header__btn--left">
          <a class="hero-header__btn hero-header__btn--link1" href="#our-products">Products</a>
        </button>
        <button type="button" class="button button--white hero-header__btn hero-header__btn--right">
          <a class="hero-header__btn hero-header__btn--link2" href="#how-its-made">How it's made?</a>
        </button>
        <!-- </div> -->
        <div class="hero-header__statistic">
          <div class="hero-header__statistic hero-header__statistic--paragraf1">
            <span class="hero-header__statistic hero-header__statistic--number1">16</span>
            <span class="hero-header__statistic hero-header__statistic--kind1">Cafes</span>
          </div>
          <div class="hero-header__statistic hero-header__statistic--paragraf2">
            <span class="hero-header__statistic hero-header__statistic--number2">23</span>
            <span class="hero-header__statistic hero-header__statistic--kind2">food trucks</span>
          </div>
        </div>


        <img class="hero-header__mainPicture" alt="The big colorfull icecream"
          src="/src/images/products/mainice-mob.png" srcset="
             /src/images/products/mainice-mob.png 171w,
             /src/images/products/mainice-mob-x2.png 342w
             /src/images/products/mainice-mob-x3.png 513w
             /src/images/products/mainice-tab.png 143w,
             /src/images/products/mainice-tab-x2.png 286w
             /src/images/products/mainice-tab-x3.png 429w
             /src/images/products/mainice-desk.png 236w,
             /src/images/products/mainice-desk-x2.png 472w
             /src/images/products/mainice-desk-x3.png 708w"
          sizes="(min-width: 1280px) 236px, (min-width: 768px) 143px, (min-width: 480px) 260px, 54vw" />

        <p class="hero-header__loremIpsum hero-header__loremIpsum--text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et
        </p>
        <button type="button" class="button hero-header__btn hero-header__btn--circle">
          <a href="#">
            <svg id="hero-header__arrow">
              <use href="/src/images/icons.svg#icon-right-arrow-header"></use>
            </svg>
          </a>
        </button>




        

        
  </section>
</div>