<section class=" container hero-header">
    <div class="hero-header__title">
        <h1>
            <span class="hero-header__title hero-header__title--upperPart">ice cream made with</span>
            <span class="hero-header__title hero-header__title--downPart">passion</span>
        </h1>
    </div>
    <div class="hero-header__buttons">
        <button type="button" class="button button--main hero-header__btn hero-header__btn--left">
            <a class="hero-header__btn hero-header__btn--link1" href="#our-products">Products</a>
        </button>
        <button type="button" class="button button--white hero-header__btn hero-header__btn--right">
            <a class="hero-header_btn hero-header__btn--link2" href="#how-its-made">How it's made?</a>
        </button>
    </div>
    <div class="hero-header__statistic">
        <div class="hero-header__statistic hero-header__statistic--paragraf1">
            <span class="hero-header__statistic hero-header__statistic--number1">16</span>
            <span class="hero-header__statistic hero-header__statistic--kind1">Cafes</span>
        </div>
        <div class="hero-header__statistic hero-header__statistic--paragraf2">
            <span class="hero-header__statistic hero-header__statistic--number2">23</span>
            <span class="hero-header__statistic hero-header__statistic--kind2">food trucks</span>
        </div>
    </div>
    <img class="hero-header__mainPicture" alt="The big colorfull icecream" src="/src/images/products/mainice-mob.png"
        srcset="/src/images/products/mainice-mob-x2.png
                    /src/images/products/mainice-mob-x3.png
                     /src/images/products/mainice-mob.png 320w,
                     /src/images/products/mainice-mob-x2.png 640w
                     /src/images/products/mainice-mob-x3.png 960w"
        sizes="(min-width: 748px) 320px, (min-width: 480px) 640px " />
    <p class="hero-header__loremIpsum hero-header__loremIpsum--text">Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do
        eiusmod
        tempor incididunt ut labore et</p>
    <button type="button" class="button hero-header__btn hero-header__btn--circle">
        <a href="#">
            <svg id="hero-header__arrow">
                <use href="/src/images/icons.svg#icon-right-arrow-header"></use>
            </svg>
        </a>
    </button>
</section>