<!-- <section id="products" class="products container">
  <div class="products__head">
    <p class="products__head-description">100% natural</p>
    <h2 class="products__head-title">products</h2>
  </div>
  <ul class="products__wrapper">
    <li class="products__item products__item--pink">
      <p id="products-iceCreem" class="products__idHelper"></p>
      <h3 class="products__item-caption">ice cream</h3>
      <p class="products__item-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
      <a href="#products-iceCreem">
        <img
          class="products__trigger-overlay"
          src="/src/images/icons/arrowright.png"
          srcset="/src/images/icons/arrowrightx2.png 2x, /src/images/icons/arrowrightx3.png 3x"
          alt="arrow right"
      /></a>
      <div class="products__overlay">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem est provident minus iusto,
          labore rem fuga obcaecati.
        </p>
      </div>
    </li>
    <li class="products__item products__item--coffee">
      <p id="products-iceCoffee" class="products__idHelper"></p>
      <h3 class="products__item-caption">ice coffee</h3>
      <p class="products__item-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
      <a href="#products-iceCoffee">
        <img
          class="products__trigger-overlay"
          src="/src/images/icons/arrowright.png"
          srcset="/src/images/icons/arrowrightx2.png 2x, /src/images/icons/arrowrightx3.png 3x"
          alt="arrow right"
      /></a>
      <div class="products__overlay--coffee">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem est provident minus iusto,
          labore rem fuga obcaecati.
        </p>
      </div>
    </li>

    <li class="products__item products__item--shake">
      <p id="products-milkShake" class="products__idHelper-milkShake"></p>
      <h3 class="products__item-caption">milkshakes</h3>
      <p class="products__item-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
      <a href="#products-milkShake">
        <img
          class="products__trigger-overlay"
          src="/src/images/icons/arrowright.png"
          srcset="/src/images/icons/arrowrightx2.png 2x, /src/images/icons/arrowrightx3.png 3x"
          alt="arrow right"
      /></a>
      <div class="products__overlay--shake">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem est provident minus iusto,
          labore rem fuga obcaecati.
        </p>
      </div>
    </li>
  </ul>
</section> -->
