    <section class="products container">
      <div class="products__head">
          <p class="products__head-description">100% natural</p>
          <h2 class="products__head-title">products</h2>
      </div>
      <ul class="products__wrapper">
        <li class="products__item products__item--pink"><h3 class="products__item-caption">ice cream</h3>
          <span class="products__item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
          <a href="#" ><img src="/src/images/icons/arrowright.png" srcset="/src/images/icons/arrowrightx2.png 2x, /src/images/icons/arrowrightx3.png 3x" alt="arrow right"/></a></li>
        <li class="products__item products__item--coffee"><h3 class="products__item-caption">ice coffee</h3>
          <p class="products__item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
          <a href="#" ><img src="/src/images/icons/arrowright.png" srcset="/src/images/icons/arrowrightx2.png 2x, /src/images/icons/arrowrightx3.png 3x" alt="arrow right"/></a></li>
        <li class="products__item products__item--shake"><h3 class="products__item-caption">milkshakes</h3><p class="products__item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
          <a href="#" ><img src="/src/images/icons/arrowright.png" srcset="/src/images/icons/arrowrightx2.png 2x, /src/images/icons/arrowrightx3.png 3x" alt="arrow right"/></a></li>
      </ul>
  </section>