<section id="our-products" class="products container">
  <div class="products__head">
    <p class="products__head-description">100% natural</p>
    <h2 class="products__head-title">products</h2>
  </div>
  <ul class="products__wrapper">
    <li class="products__item products__item--pink">
      <h3 class="products__item-caption">ice cream</h3>
      <p class="products__item-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
      <a
        class="products__arrow"
        href="https://www.google.pl/search?q=ice+cream&sxsrf=AJOqlzVwljM59GQpM4BWyzUTBnDNWIW6Xg:1677077056003&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjzjrzxrqn9AhXGDRAIHSfrAvUQ_AUoAXoECAEQAw&biw=1920&bih=937&dpr=1"
      >
        <img
          src="/src/images/icons/arrowright.png"
          srcset="/src/images/icons/arrowrightx2.png 2x, /src/images/icons/arrowrightx3.png 3x"
          alt="arrow right"
      /></a>
      <div class="products__overlay">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem est provident minus iusto,
          labore rem fuga obcaecati.
        </p>
      </div>
    </li>
    <li class="products__item products__item--coffee">
      <h3 class="products__item-caption">ice coffee</h3>
      <p class="products__item-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
      <a
        href="https://www.google.pl/search?q=ice+coffee&tbm=isch&ved=2ahUKEwjcqvXyrqn9AhURx4sKHQKiA4QQ2-cCegQIABAA&oq=ice+coffee&gs_lcp=CgNpbWcQAzIECCMQJzIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDoECAAQQzoICAAQgAQQsQM6BAgAEANQgglYiRlgoRxoAHAAeACAATuIAcIEkgECMTGYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=Qyr2Y5z9AZGOrwSCxI6gCA&bih=937&biw=1920"
      >
        <img
          class="products__arrow"
          src="/src/images/icons/arrowright.png"
          srcset="/src/images/icons/arrowrightx2.png 2x, /src/images/icons/arrowrightx3.png 3x"
          alt="arrow right"
      /></a>
      <div class="products__overlay--coffee">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem est provident minus iusto,
          labore rem fuga obcaecati.
        </p>
      </div>
    </li>

    <li class="products__item products__item--shake">
      <h3 class="products__item-caption">milkshakes</h3>
      <p class="products__item-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
      <a
        href="https://www.google.pl/search?q=milkshake&tbm=isch&ved=2ahUKEwict8f8rqn9AhWmBhAIHZkvCq4Q2-cCegQIABAA&oq=mil&gs_lcp=CgNpbWcQARgAMgQIIxAnMgQIIxAnMgQIABBDMgQIABBDMgQIABADMggIABCABBCxAzIECAAQQzIECAAQQzILCAAQgAQQsQMQgwEyBQgAELEDOgUIABCABFCYCFi3CmDTFWgAcAB4AIABRIgB8gGSAQE0mAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=Vyr2Y9yvD6aNwPAPmd-o8Ao&bih=937&biw=1920"
      >
        <img
          class="products__arrow"
          src="/src/images/icons/arrowright.png"
          srcset="/src/images/icons/arrowrightx2.png 2x, /src/images/icons/arrowrightx3.png 3x"
          alt="arrow right"
      /></a>
      <div class="products__overlay--shake">
        <p class="products__overlay-description--shake">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem est provident minus iusto,
          labore rem fuga obcaecati.
        </p>
      </div>
    </li>
  </ul>
</section>
