.advantages {
  background-color: $color-secondary-background;
  padding-bottom: 97px;
  padding-left: 20px;
  @include tablet {
    padding-bottom: 142px;
  }
  @include desktop {
    padding-bottom: 159px;
  }
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 38px;
  @include tablet {
    gap: 60px;
  }
  @include desktop {
    justify-content: center;
    gap: 30px;
  }
  &__icon {
    margin-bottom: 16px;
    @include tablet {
      margin-bottom: 36px;
    }
    @include desktop {
      margin-bottom: 40px;
    }
  }
  &__title {
    color: $color-main-theme;
    font-family: $Font-secondary;
    font-size: 36px;
    line-height: 1.14;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    @include tablet {
      font-size: 48px;
      line-height: 1.53;
    }
    @include desktop {
      font-size: 58px;
      line-height: 1.14;
    }
  }
  &__description {
    color: $color-black;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.7;
    max-width: 230px;
    margin-top: 18px;
    @include tablet {
      max-width: 180px;
      font-size: 14px;
      line-height: 1.74;
    }
    @include desktop {
      max-width: 330px;
      font-size: 16px;
      line-height: 1.76;
    }
  }
}
