.section__bg {
  background-color: $color-secondary-background;
  background-image: linear-gradient(to bottom, $color-white 15%, $color-secondary-background 15%);
}

.contacts {
  padding-left: 50px;
  padding-right: 50px;
  &__background {
    padding-top: 0;
    padding-bottom: 113px;
  }

  &__container {
    width: 100%;
    padding: 43px 20px;
    background: $color-white;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    &--title {
      background: #f0d1a5;
      border-radius: 4px;
      font-weight: 500;
      font-size: 12px;
      line-height: 186%;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.04em;
      color: $color-white;
      width: fit-content;
      padding: 0 44px;
      margin-bottom: 25px;
      &Secondary {
        background: $color-milkshake;
        border-radius: 4px;
        font-weight: 500;
        font-size: 12px;
        line-height: 186%;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        color: $color-white;
        width: fit-content;
        padding: 0 44px;
        margin-bottom: 25px;
      }
    }

    &--city {
      border-bottom: 1px solid #e1e1e1;
      padding-bottom: 25px;
      margin-bottom: 25px;
    }

    &--name {
      font-weight: 500;
      font-size: 12px;
      line-height: 186%;
      letter-spacing: 0.04em;
      color: $color-black;
    }

    &--description {
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: $color-small-text;
      word-break: normal;
      margin-top: 10px;
    }

    &--time {
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 186%;
      color: $color-secondary-theme;
    }

    &--open {
      margin-bottom: 10px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  &__group {
    border-top: 1px solid #e1e1e1;
    padding-top: 25px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
  }
  &__group > a {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #907e82;
    text-decoration: none;
    font-style: normal;
  }
}

.hidden-title {
  display: none;
}

.button__container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: fit-content;
  margin: 0 auto;
  margin-top: 54px;
}

.button__style {
  width: 100%;
  padding-left: 17px;
  padding-right: 17px;
  height: 44px;
  border-style: none;
  border-radius: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;

  &--location {
    background: $color-red;
    color: $color-white;
  }
  &--franchise {
    display: flex;
    justify-content: center;
    text-align: center;
    background: $color-white;
    color: $color-red;
  }
}

@include tablet {
  .contacts__background {
    padding-top: 0;
    padding-bottom: 158px;
  }

  .contacts {
    &__list {
      flex-wrap: wrap;
      flex-direction: row;
      gap: 30px;
    }
    &__container {
      flex-basis: calc((100% - 60px) / 3);

      &--description {
        font-size: 14px;
        line-height: 166%;
      }

      &--title {
        font-size: 14px;
        padding: 0 20px;
      }

      &--titleSecondary {
        font-size: 14px;
        padding: 0 20px;
      }

      &--time {
        font-size: 14px;
      }

      &--open {
        font-size: 14px;
      }

      &--city {
        font-size: 14px;
      }

      &--name {
        font-size: 14px;
      }
    }

    &__group > a {
      font-size: 14px;
    }
  }

  .button__container {
    flex-direction: row;
    column-gap: 15px;
  }

  .button__style {
    &--location {
      width: 198px;
      padding-left: 40px;
      padding-right: 35px;
    }

    &--franchise {
      width: 180px;
      padding-left: 39px;
      padding-right: 39px;
    }
  }
}

@include desktop {
  .contacts__background {
    padding-top: 0;
    padding-bottom: 165px;
  }

  .contacts {
    padding-left: 0;
    padding-right: 0;

    &__container {
      padding-left: 43px;
      padding-top: 51px;
      padding-bottom: 62px;
      padding-right: 44px;

      &--description {
        font-size: 16px;
        line-height: 183%;
      }

      &--title {
        font-size: 16px;
      }

      &--titleSecondary {
        font-size: 16px;
      }

      &--time {
        font-size: 16px;
      }

      &--open {
        font-size: 16px;
      }

      &--city {
        font-size: 16px;
      }

      &--name {
        font-size: 16px;
      }
    }
    &__group > a {
      font-size: 16px;
      line-height: 183%;
    }

    &__list {
      padding-left: 115px;
      padding-right: 115px;
      background-size: 1280px 382px;
      background-image: url('../images/pinkdot-bg.png');
      background-repeat: no-repeat;
      background-position: 50% 54%;
    }
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .contacts {
    &__list {
      background-image: url('../images/pinkdot-bg-x2.png');
    }
  }
}

@media (min-device-pixel-ratio: 3), (min-resolution: 192dpi), (min-resolution: 3dppx) {
  .contacts {
    &__list {
      background-image: url('../images/pinkdot-bg-x3.png');
    }
  }
}
