.footer__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  color: $color-main-background;
  font-family: $Font-secondary;
  padding-left: 20px;
}

.footer__title--down {
  font-weight: 400;
  font-size: 34px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $color-main-theme;
  font-family: $Font-secondary;
  padding-left: 25px;
}
.footer__social-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-bottom: 30px;
  cursor: pointer;
  padding-bottom: 43px;
}

.footer__social-list--itemm {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: $color-main-background;
  fill: #ffffff;
  padding-left: 6px;
  padding-top: 6px;
  margin: 25px;
  background-image: linear-gradient(rgba(247, 241, 241, 0.089), rgba(254, 254, 255, 0));
}
.footer__social-list--itemm:focus,
.footer__social-list--itemm:hover {
  fill: #ffffff;
  background-color: $color-button-hover-main;
}

.footer__kontakt {
  color: $color-black;
  font-family: $Font-primary;
  font-weight: 700;
  align-items: center;
  justify-content: center;
}
.footer__number {
  color: $color-main-theme;
  size: 14px;
  font-weight: 700;
}
.footer__foot {
  color: $color-small-text;
  size: 14px;
  display: flex;
  padding-top: 22px;
  border-top: 2px solid $color-testimonials-quote;
  align-items: center;
  justify-content: center;
  display: flex;
  padding-bottom: 25px;
  font-weight: 700;
}
.footer__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 40px;
  padding-bottom: 25px;
  @include desktop {
    padding: 0px 20px 175px;
    justify-content: right;
  }
}
.fufu {
  display: flexbox;
}
