.footer {
  background-color: $color-secondary-background;
  font-family: DM Sans;
  &__title-upper {
    padding: 0 66px 17px 22px;
    font-family: Titan One;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    color: $color-secondary-theme;
  }
  &__title-lower {
    padding: 0 100px 43px 20px;
    font-family: Titan One;
    font-size: 34px;
    line-height: 39px;
    letter-spacing: 0.04em;
    text-align: left;
    color: $color-main-theme;
  }
  &__social-links {
    display: flex;
    justify-content: flex-end;
    gap: 28px;
    padding-right: 21px;
  }
  &__icon {
    fill: $color-white;
  }
  &__link {
    background-color: $color-secondary-theme;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 32px;
    height: 32px;
  }
  &__contact {
    font-size: 12px;
    font-weight: 700;
    line-height: 22.32px;
    text-align: right;
    padding: 46px 20px 43px 70px;
  }
  &__contact-tel {
    color: $color-main-theme;
  }
  &__trademark {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    color: $color-small-text;
    padding: 22px 91px 25px 79px;
    border-top: 1px solid $color-testimonials-quote;
  }
}
