.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 137px;
  @include tablet {
    margin-bottom: 15px;
  }
  @include desktop {
    // width: 1280px;
    margin-bottom: 84px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  &__nav-items {
    position: relative;
    display: flex;
    z-index: 2;
    margin-left: 110px;
    gap: 35px;
    @include desktop-max {
      display: none;
    }
  }
  &__nav-item {
    display: block;
  }
  &__link {
    color: $color-white;
    font-size: 16px;
    font-weight: 700;
    &:hover,
    &:focus {
      color: $color-main-theme;
    }
  }
  &__buttons {
    display: flex;
    align-content: center;
    gap: 30px;
  }
  &__btn {
    @include tablet-max {
      display: none;
    }
    font-size: 16px;
    font-weight: 600;
    padding: 8px 32px;
  }
}

.btn-arrow {
  margin-left: 1em;
  @include tablet {
    margin-left: 0.875em;
  }
  @include desktop {
    margin-left: 0.75em;
  }
}
