// Variables Colors

$color-main-theme: #d41443;
$color-secondary-theme: #ffa5ba;
$color-red: #d41342;
$color-white: #ffffff;
$color-black: #000000;
$color-main-background: #ffb8ca;
$color-secondary-background: #fff5f6;
$color-small-text: #907e82;
$color-milkshake: #c2e297;
$color-coffee: #f0d1a5;
$color-button-hover-main: #c7133e;
$color-button-hover-secondary: #ecebeb;
$color-testimonials-background: #fafafa;
$color-testimonials-quote: #e1e1e1;
$color-testimonials-dots: #d9d9d9;

// variables Font

$Font-primary: 'Dm sans', sans-serif;
$Font-secondary: 'Titan One', sans-serif;
